<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us!</title>
</head>
<body>
    <header>
        <ul>
            <li>
                <a href="/index.html">Home</a>
            </li>
        </ul>
    </header>
    <h1>Contactanos :</h1>
    <form action="">
        <label for="name">Nombre :</label>
        <input type="text" id="name" name="name">

        <label for="surname"> Apellido :</label>
        <input type="text" id="surname" name="surname">

        <label for="email">E-mail :</label>
        <input type="email" id="email" name="email">

        <label for="telefono">Telefono :</label>
        <input type="numb" id="phone" name="phone">

        <input type="submit" value="Enviar">
        <input type="reset" value="Borrar Formulario">
    </form>
</body>
</html>